################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/sms_sluzba_cz/v15
/src/obj/Debug
